{
    "plugins": [
        "check-es2015-constants",
        "transform-es2015-arrow-functions",
        "transform-react-jsx",
        "transform-react-display-name",
        "transform-es2015-computed-properties",
        "transform-es2015-destructuring",
        "transform-es2015-block-scoping",
        "transform-node-env-inline",
        "transform-es2015-modules-commonjs",
        "transform-strict-mode",
        "transform-object-rest-spread",
        "babel-plugin-espower"
    ]
}
