.editor {
    display: inline-block;
    height: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
    background: #444;
    color: #eee;
}

.editor a{
    color: #ccf;
}
.editor a:visited{
    color: #dcf;
}
.editor a:hover,.editor a:focus{
    color: #fff;
}



.editor .editor-tab {
    display: block;
    position: absolute;
    top: 0;
    font-weight: bold;
    padding: 1ex;
    width: 32px;
    height: 32px;
    line-height: 16px;
    text-align: center;
    background: #444;
    color: #eee;
}
.editor .editor-tab .indicator
{
    display: inline-block;
    position: relative;
    top: -1em;
    left: 1.2ex;
    font-size: 0.7em;
    line-height: 0.8em;
    padding: 2px;
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.editor.inactive
{
    right: 0;
}

.editor.active
{
    width: 50%;
    right: 0;
}

.editor.inactive .editor-tab
{
    left: -32px;
}


.editor.active .editor-tab
{
    left: -32px;
}


.editor .editor-body
{
    background: #444;
    color: white;
    overflow: hidden;
}

.editor .editor-body .navbar
{
    margin: 0;
}

.editor.inactive .editor-body
{
    display: none;
}

.editor.active .editor-body
{
    position: relative;
}

.editor.active .editor-toolbar
{
    height: 32px;
    line-height: 32px;
}

#focus-proxy-container {
    position: absolute;
    top: 0;
    left: -2000px;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.entity thead tr {
    border-bottom: 1px solid #888;
}


/* to enable absolute-relative positioning of gui elements */
.gui-container {
    position: relative;
    overflow: auto;
}

.domain-type
{
    padding-left: 1em;
    font-size: 0.5em;
}

#exceed-popup-overlay
{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 90;
}

#exceed-popup
{
    position: absolute;
    width: 750px;
    top: 40px;
    left: 50%;
    margin-left: -375px;
    padding-bottom: 5px;
    background-color: #ddd;
    z-index: 100;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #ccc;

    -webkit-box-shadow: 0 0 10px 10px rgba(255,255,255,0.25);
    -moz-box-shadow: 0 0 10px 10px rgba(255,255,255,0.25);
    box-shadow: 0 0 10px 10px rgba(255,255,255,0.25);

}

.exceed-popup-body div.align
{
    line-height: 4em;
}

.exceed-popup-body hr
{
    border: none;
    border-top: 1px solid #bbb;
    margin: 0.5em 0;
}
.exceed-popup-body .exceed-list-editor .form-group
{
}


/* CodeEditor */

.code-editor {
    width: 100%;
}

/** Extra rules to visually disambiguate both expressions from string attributes and identifiers and special
identifiers within the expression. Also for a harmonic overall look */

.ace_expression-open,.ace_expression-close {
    color: #000;
    font-weight: bold;
}

.ace_variable.ace_language {
    color: #0066cc;
    font-weight: bold;
}

.ace-tm .ace_constant.ace_language.ace_boolean {
    color: #0066cc;
}

.ace_identifier {
    color: #00d;
}

.ace_attribute-name {
    color: #008;
}

.ace-tm .ace_meta.ace_tag-open.ace_xml
{
    color: #000;
}
.ace-tm .ace_meta.ace_tag-name.ace_xml
{
    color: #08f;
}

.ace-tm .ace_string.ace_xml
{
    color: #800;
}

.error-report
{
    max-height: 12em;
    overflow: auto;
    padding: 0.5em 1ex;
}

.error-report ul {
    list-style: none;
    padding-left: 2em;
}

.control
{
    fill: rgba(160,160,160,0.1);
}

.control:hover
{
    stroke: #000;
    fill: rgba(255, 229, 136, 0.6);
    stroke-width: 1;
    cursor: move;
}

.entity
{
    cursor: pointer;
}


.selected
{
    background: #ffe588;
}

.domain-editor .table-striped tr.selected
{
    background-color: #ffe588;
}

.domain-editor .table-striped tr.selected:hover
{
    background-color: #f6eabf;
}

body
{
    overflow: scroll;
}


.domain-type-form
{
    padding-bottom: 6px;
    border-bottom: 2px solid #aaa
}

.glyphicon-space:before {
    content: "\00a0";
}



.app-link.case-sensitive.prop-required
{
    font-weight: bold;
    text-decoration: underline;
}

.app-link.case-sensitive
{
    font-weight: normal;
    text-transform: none;
}

#acediff-left-editor
{
    height: 600px;
}

#acediff-right-editor
{
    height: 600px;
}

#acediff-gutter
{
    height: 600px;
    overflow: hidden;
    background: #f7f4f2;
}

.acediff-copy-right,.acediff-copy-left
{
    position: relative;
}
.acediff-copy-left
{
    float: right;
}

.merge-modal
{
    width: 90%;
}

.acediff-connector {
    fill: #d8f2ff;
    stroke: #a2d7f2;
}
.acediff-new-code-connector-copy,.acediff-deleted-code-connector-copy{
    position: absolute;
    cursor: pointer;
}

.acediff-deleted-code-connector-copy{
    right: 0;
}

.acediff-diff
{
    position: absolute;
    background: rgba(216, 242, 255, 0.5);
}

ul.block-list
{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.block-list li,ul.block-list a
{
    display: block;
}

.col-no-padding
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.editor-home
{
    background: #f8f8f6 url("../image/light-room.jpg") center;
}


.symbol-initial {
    opacity: 1;
    animation: fadeIn 0.8s linear;
}

.symbol-normal {
    cursor: pointer;
    transform: rotate(0deg) scale(1);
    animation: zoomOut 0.1s ease-in;
}

.symbol-focused {
    cursor: pointer;
    transform: scale(1.3);
    animation: zoomIn 0.2s ease-in;
}

@keyframes zoomOut
{
    from {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);
    }
}
@keyframes zoomIn
{
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

@keyframes fadeIn
{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.editor-body
{
    padding-left: 1px;
    padding-bottom: 1px;
}

.preview-marker
{
    position: fixed;
    left: 0;
    top: 0;
    width: 13px;
    background: url("../image/preview.png") repeat;
    opacity: 0.3;
    pointer-events: none;
}

.main-editor .resource-link
{
    color: #000;
}


.model-selector
{
        overflow: auto;
}

.model-selector a.model-link
{
    display: block;
    color: #666;
    font-weight: normal;
}

.model-selector span.model-link
{
    display: block;
    color: #66c;
    font-weight: bold;
}

.model-selector .group .model-link
{
    padding-left: 1.8em;
}

.model-container
{
    overflow: auto;
}


span.label
{
    border-radius: 2px;
    margin: 2px;
    background: #ff4136;
    color: #eee;
    padding: 2px;
    vertical-align: top;
}

div.byline
{
    font-size: 0.6em;
    line-height: 1em;
    color: #aaa;
}

.model-docs .type-desc
{
    color: #999;
    font-size: 0.9em;
}

.model-docs .model-docs
{
    margin-left: 2em;
}

.model-docs .prop-name
{
    color: #444;
}

.model-docs div.description,.model-docs p
{
    max-width: 60em;
}

ul.model-locations
{
    list-style: none;
}

ul.model-locations .location
{
    padding-left: 1ex;
}
